@model FitnessCoach.Models.RegistracijaModel

@{
    Layout = null;
}

<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link href="~/Content/CSS/RegistrationCSS.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.12.3.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>

<body style="background-image: url('../../Content/slike/ConcactBackground.jpg');"
    <!-- GLAVNI SADRZAJ -->
    <div class="container-fluid">
        <form method="post" action="@Url.Action("Register", "Registracija")">
            <div class="row" style="text-align:center;">

                <div class="well" style="margin-left:20%; margin-right:20%; margin-top:2%; opacity:0.8; border-radius:7px;">
                    <div class="row redRazmak slova">
                        @Html.TextBoxFor(m => m.ImeRegistracija, new { @class = "form-control", @id = "ime", @name = "Ime", @placeholder = "Ime", })
                        @Html.ValidationMessageFor(model => model.ImeRegistracija, "", new { @class = "text-danger" })
                    </div>

                    <div class="row redRazmak slova">
                        @Html.TextBoxFor(m => m.PrezimeRegistracija, new { @class = "form-control", @id = "prezime", @name = "Prezime", @placeholder = "Prezime" })
                        @Html.ValidationMessageFor(model => model.PrezimeRegistracija, "", new { @class = "text-danger" })
                    </div>

                    <div class="row redRazmak slova">
                        @Html.TextBoxFor(m => m.EmailRegistracija, new { @class = "form-control", @id = "email", @name = "Email", @placeholder = "Adresa e-pošte" })
                        @Html.ValidationMessageFor(model => model.EmailRegistracija, "", new { @class = "text-danger" })
                    </div>

                    <div class="row redRazmak slova">
                        @Html.TextBoxFor(m => m.UsernameRegistracija, new { @class = "form-control", @id = "korisnickoIme", @name = "Username", @placeholder = "Korisničko ime" })
                        @Html.ValidationMessageFor(model => model.UsernameRegistracija, "", new { @class = "text-danger" })
                    </div>

                    <div class="row redRazmak slova">
                        @Html.PasswordFor(m => m.PasswordRegistracija, new { @class = "form-control", @id = "lozinka", @name = "Password", @placeholder = "Lozinka" })
                        @Html.ValidationMessageFor(model => model.PasswordRegistracija, "", new { @class = "text-danger" })
                    </div>

                    <div class="row redRazmak slova">
                        @Html.PasswordFor(m => m.ConfirmPasswordRegistracija, new { @class = "form-control", @id = "potvrdaLozinke", @name = "ConfirmPassword", @placeholder = "Potvrdi lozinku" })
                        @Html.ValidationMessageFor(model => model.ConfirmPasswordRegistracija, "", new { @class = "text-danger" })
                    </div>

                    <div class="row redRazmak slova" style="text-align:center;">
                        <span>
                            <button id="registrujSe" class="btn btn-primary space-vert" data-target="#myModal">Registruj se</button>
                        </span>
                    </div>

                </div>
            </div>
        </form>
    </div>
    <!-- KRAJ ZA GLAVNI SADRZAJ -->

</body>
</html>
