@model FitnessCoach.Models.TreningModel

@{
    ViewBag.Title = "ListaTreninga";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <script src="~/Scripts/starPlugin.js"></script>
</head>
<body style="background-image: url('../../Content/slike/vezbanjeBackground.jpg'); background-repeat: no-repeat; background-position: center center; background-attachment: fixed; background-size: cover; padding-top: 0px;">

    <div class="container-fluid" style="margin-top:60px;">
        <div class="col-md-offset-2 col-md-8 well" style="background-color:rgba(244,244,244,0.5); margin-top:6%; min-width:550px; height:auto;">

            <div class="row" style="padding-bottom: 2px; padding-top:5px;">
                <div class="col-md-12" style="text-align:center;">
                    <a href="#" style="color:#337ab7;" data-toggle="modal" data-target="#dodajTreningModal"> Dodaj trening </a>
                </div>
            </div>

            <!-- PRVI WELL ZA SELECT -->
            <div class="row well" style="background-color:rgba(255,255,255,0.7);color:#337ab7; margin-bottom:10px; text-align:center;">
                <div class="row well" style="text-align:left;">
                    @using (Html.BeginForm("ListaTreninga", "Trening"))
                    {
                        <div class="col-md-3">
                            <label>
                                <input name="Abdominals" value="true" type="checkbox" />
                                Abdominals
                            </label>
                            <br />

                            <label>
                                <input name="Back" value="true" type="checkbox" />
                                Back
                            </label>
                        </div>

                        <div class="col-md-3">
                            <label>
                                <input name="Biceps" value="true" type="checkbox" />
                                Biceps
                            </label>
                            <br />

                            <label>
                                <input name="Chest" value="true" type="checkbox" />
                                Chest
                            </label>
                        </div>

                        <div class="col-md-3">
                            <label>
                                <input name="Legs" value="true" type="checkbox" />
                                Legs
                            </label>
                            <br />

                            <label>
                                <input name="Shoulders" value="true" type="checkbox" />
                                Shoulders
                            </label>
                        </div>

                        <div class="col-md-3">
                            <label>
                                <input name="Triceps" value="true" type="checkbox" />
                                Triceps
                            </label>
                            <br />

                            <label>
                                <input name="SelectAll" value="true" type="checkbox" />
                                Select All
                            </label>
                        </div>

                        <div class="col-md-12" style="text-align:center; margin-top:10px;">
                            <input type="submit" value="Submit" class="btn btn-success" />
                        </div>
                    }
                </div>


            </div>


            <!-- KRAJ PRVOG WELLA ZA SELECT  -->
            <!-- RED ZA LISTANJE VEZBI-->
            <div class="row">


                <table class="table table-hover" style="background-color:rgba(244,244,244,0.8); border-radius:5px;">
                    <thead>
                        <tr>
                            <th style="color:#337ab7;">Exercise Plan Name</th>
                            <th style="color:#337ab7;">Muscle Group</th>
                            <th style="color:#337ab7;">Ranking</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in Model.treninzi(Model.Abdominals, Model.Back, Model.Biceps, Model.Chest, Model.Legs, Model.Shoulders, Model.Triceps, Model.SelectAll))
                            {
                                <tr class="hoverMessagesListaVezbi" data-toggle="modal" data-target="#@item.Id.ToString()">
                                    <td style="color:green; font-weight:600;text-align:left;">@item.Naziv</td>
                                    <td style="color:green; font-weight:600;text-align:left;">@item.Misicna_Partija</td>
                                    <td style="color:green; font-weight:600;text-align:left;">@item.Prosecna_Ocena</td>
                                </tr>


                            <!-- MODAL ZA VEZBE-->
                                <div id="@item.Id.ToString()" class="modal fade" role="dialog">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" style="text-align:center; color:green; font-weight:600;">@item.Naziv</h4>
                                            </div>
                                            <div class="modal-body">
                                                <!-- red sa podacima -->
                                                @{
                                foreach (var promenljiva in Model.VezbeUTreningu(item.Id.ToString()))
                                {
                                    <div class="row well">
                                        <div class="col-md-12" style="text-align:center; color:#337ab7;"><img src=@Model.VezbaToBase64(promenljiva.Slika, promenljiva.Misicna_Partija) class="img-thumbnail img-responsive" style="height:100px; width:100px;" /></div>
                                        <div class="col-md-12" style="text-align: center; color: #337ab7;">Exercise name: @promenljiva.Naziv</div>
                                        <div class="col-md-12" style="text-align: center; color: #337ab7;">Description: @promenljiva.Tekst</div>
                                        <div class="col-md-12" style="text-align: center; color: #337ab7;">Ranking: @promenljiva.Prosecna_Ocena</div>
                                    </div>
                                }
                                                }
                                                <!-- kraj reda sa podacima -->
                                                <!-- red za ocenjivanje sa zvezdicama-->
                                                <!-- kraj reda za ocenjivanje sa zvezdicama-->
                                            </div>
                                            <div class="modal-footer">
                                                <div class="col-md-6" style="text-align:center; color:#337ab7; font-weight:600;"></div>

                                                <div class="col-md-6"><button type="button" class="btn btn-primary" data-dismiss="modal">Close</button></div>
                                            </div>
                                        </div>
                                        <!-- Modal content end -->

                                    </div>
                                </div>
            <!-- KRAJ MODALA ZA VEZBE -->
                            }
                        }
                    </tbody>
                </table>


            </div>
            <!-- KRAJ REDA ZA LISTANJE VEZBI-->

            <!-- MODAL ZA DODAVANJE TRENINGA -->
            <div id="dodajTreningModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" style="text-align:center; color:#337ab7;">Dodaj trening</h4>
                        </div>

                        <form method="post" action="@Url.Action("DodajTrening", "Trening")">
                            <div class="modal-body">
                                <div class="container-fluid">

                                    <div class="row" style="margin-bottom: 10px;margin-left:5px; margin-right:5px; text-align:center;">
                                        @Html.TextBox("naziv", null, new { @class = "form-control", @id = "naziv", @name = "naziv", @placeholder = "Naziv" })
                                    </div>

                                    <div class="row" style="margin-bottom: 10px;margin-left:5px; margin-right:5px; text-align:center;">
                                        @Html.DropDownList("misicna_partija",
                                                            new List<SelectListItem>{
                                                                                        new SelectListItem { Text = "abs", Value = "abs"},
                                                                                        new SelectListItem { Text = "back", Value = "back"},
                                                                                        new SelectListItem { Text = "biceps", Value = "biceps"},
                                                                                        new SelectListItem { Text = "chest", Value = "chest"},
                                                                                        new SelectListItem { Text = "legs", Value = "legs"},
                                                                                        new SelectListItem { Text = "shoulders", Value = "shoulders"},
                                                                                        new SelectListItem { Text = "triceps", Value = "triceps"},
                                                                                    },
                                       "Misicna partija", new { @class = "form-control", @size = "4" })
                                    </div>

                                    <div class="row" style="margin-bottom: 10px;margin-left:5px; margin-right:5px; text-align:center;">
                                        @Html.DropDownList("vezbe", Model.SveVezbe(), "Vezbe", new { @class = "form-control", @size = "4", @multiple = "multiple" })
                                    </div>
                                    <div class="row" style="margin-bottom: 10px; margin-left: 5px; margin-right: 5px; text-align: center; "> <button class="btn btn-primary btn-block">Dodaj</button></div>
                                </div>
                            </div>
                        </form>

</div>
                </div>
            </div>
            <!-- KRAJ MODALA ZA DODAVANJE TRENINGA -->
        </div>
    </div>
</body>
</html>



